@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&family=IBM+Plex+Mono&display=swap');

* {
  @apply .font-body;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-print-color-adjust: exact;
  text-size-adjust: 100%;
  -webkit-tap-highlight: transparent;
}

*:focus {
  outline: none !important;
}

*.focus-visible:not(input, textarea) {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  @apply .rounded-none;
}

h1,
h2,
h3 {
  @apply .font-extrabold;
}

h4,
h5,
h6,
strong {
  @apply .font-semibold;
}
