.truncate-2 {
  @apply .overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-caps {
  @apply .uppercase .text-xs .tracking-widest .font-semibold;
}

.transition-color {
  @apply .transition-colors .duration-150 .ease-in;
}
